@import '../../../../../../src/assets/scss/utils';

.card {
  /* From https://css.glass */
  background: $surface-glassmorph;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid $surface-glassmorph;

  padding: 20px 15px;
  margin: 50px;
  border-radius: 15px;

  color: white;

  &:nth-of-type(1n) .score {
    color: $primary-500;
  }

  &:nth-of-type(2n) .score {
    color: $secondary-500;
  }

  &:nth-of-type(3n) .score {
    color: $tertiary-500;
  }
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: bold;
}
