<h2 class="text-white">Around The World</h2>
<div class="card">
  <h3>Insg. gespielt</h3>

  <div class="score">{{ aroundStats.aroundCount }}</div>
</div>
<div class="card">
  <h3>Geringste Anzahl an Versuchen</h3>
  <div class="score">{{ aroundStats.aroundMinCount }}</div>
</div>
<hr class="text-white" />
<h2 class="text-white">Trainingsdaten</h2>
<div class="card">
  <h3>Insg. ⌀</h3>
  <div class="score">{{ Math.round(trainingStats.overallAvg * 10) / 10 }}</div>
</div>
<div class="card">
  <h3>Insg. geworfene Darts</h3>
  <div class="score">{{ trainingStats.thrownDarts }}</div>
</div>
<div class="card">
  <h3>Durchschnt. Wurfanzahl pro Spiel</h3>
  <div class="score">{{ trainingStats.thrownDartAvg.toFixed() }}</div>
</div>
<div class="card">
  <h3>Spiele insgesamt</h3>
  <div class="score">{{ trainingStats.gamesOverall }}</div>
</div>
<div class="card">
  <h3>geringste Wurfanzahl pro Spiel</h3>
  <div class="score">{{ trainingStats.minThrownDart }}</div>
</div>
<div class="card">
  <h3>höchste Wurfanzahl pro Spiel</h3>
  <div class="score">{{ trainingStats.maxThrownDart }}</div>
</div>
<div class="card">
  <h3>Lieblingszahl</h3>
  <div class="score">{{ trainingStats.favNumber }}</div>
  <div class="text-end">{{ trainingStats.favNumberCount }} mal getroffen</div>
</div>
<div class="card">
  <h3>Lieblingstripel</h3>
  <div class="score">{{ trainingStats.favTriple }}</div>
  <div class="text-end">{{ trainingStats.favTripleCount }} mal getroffen</div>
</div>
<div class="card">
  <h3>Bester Checkout</h3>
  <div class="score">{{ trainingStats.bestCheckout.points }}</div>
  <div class="d-flex justify-content-evenly">
    <div *ngFor="let dart of trainingStats.bestCheckout.checkout" class="text-center">
      {{ dart.faktor === 3 ? 'Tripel' : dart.faktor === 2 ? 'Double' : '' }} {{ dart.number }}
    </div>
  </div>
</div>
<hr class="text-white" />
<h2 class="text-white">VS Daten</h2>
<div class="card">
  <h3>Insg. ⌀</h3>
  <div class="score">{{ Math.round(vsStats.overallAvg * 10) / 10 }}</div>
</div>
<div class="card">
  <h3>Insg. geworfene Darts</h3>
  <div class="score">{{ vsStats.thrownDarts }}</div>
</div>
<div class="card">
  <h3>Durchschnt. Wurfanzahl pro Spiel</h3>
  <div class="score">{{ vsStats.thrownDartAvg.toFixed() }}</div>
</div>
<div class="card">
  <h3>Spiele insgesamt</h3>
  <div class="score">{{ vsStats.gamesOverall }}</div>
</div>
<div class="card">
  <h3>geringste Wurfanzahl pro Spiel</h3>
  <div class="score">{{ vsStats.minThrownDart }}</div>
</div>
<div class="card">
  <h3>höchste Wurfanzahl pro Spiel</h3>
  <div class="score">{{ vsStats.maxThrownDart }}</div>
</div>
<div class="card">
  <h3>Lieblingszahl</h3>
  <div class="score">{{ vsStats.favNumber }}</div>
  <div class="text-end">{{ vsStats.favNumberCount }} mal getroffen</div>
</div>
<div class="card">
  <h3>Lieblingstripel</h3>
  <div class="score">{{ vsStats.favTriple }}</div>
  <div class="text-end">{{ vsStats.favTripleCount }} mal getroffen</div>
</div>
<div class="card">
  <h3>Bester Checkout</h3>
  <div class="score">{{ vsStats.bestCheckout.points }}</div>
  <div class="d-flex justify-content-evenly">
    <div *ngFor="let dart of vsStats.bestCheckout.checkout" class="text-center">
      {{ dart.faktor === 3 ? 'Tripel' : dart.faktor === 2 ? 'Double' : '' }} {{ dart.number }}
    </div>
  </div>
</div>
<div class="card">
  <h3>Gewonnen</h3>
  <div class="score">{{ vsStats.wins }}</div>
</div>
<div class="card">
  <h3>Verloren</h3>
  <div class="score">{{ vsStats.losses }}</div>
</div>
