<div class="number-container d-flex flex-wrap">
  <button
    (click)="onDart(number, faktor)"
    *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]"
    class="number-block third d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white">{{ number }}</h3>
  </button>
  <button
    (click)="onDart(number, faktor)"
    *ngFor="let number of [25, 50]"
    [disabled]="faktor !== 1"
    class="number-block half d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white">{{ number }}</h3>
  </button>
  <div (click)="onBack()" class="number-block quarter d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white"><</h3>
  </div>
  <button
    (click)="faktor === 1 ? (faktor = 2) : (faktor = 1)"
    [ngClass]="{ selected: faktor === 2 }"
    class="number-block quarter d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white">Double</h3>
  </button>
  <button
    (click)="faktor === 1 ? (faktor = 3) : (faktor = 1)"
    [ngClass]="{ selected: faktor === 3 }"
    class="number-block quarter d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white">Triple</h3>
  </button>
  <div (click)="onSkip()" class="number-block quarter d-flex justify-content-center align-items-center">
    <h3 class="m-0 text-white">></h3>
  </div>
</div>
