<div class="container">
  <div *ngFor="let user of users; let i = index" [routerLink]="'/stats/' + user.name" class="card">
    <h2 class="text-center text-white">{{ user.name }}</h2>
  </div>

  <form [formGroup]="addForm">
    <label class="form-label text-white" for="player">Profil hinzufügen</label>
    <input (keydown.enter)="addPlayer()" class="form-control" formControlName="player" id="player" type="text" />
  </form>
</div>
