$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

$primary: #53ffd6;
$secondary: #293fff;
$tertiary: #ff5080;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light-gray: #080808;
$dark-gray: #040103;

$primary-50: #e9fff6;
$primary-100: #cbffe7;
$primary-200: #9bffd4;
$primary-300: #64fac3;
$primary-400: #1beca6;
$primary-500: #00d390;
$primary-600: #00ac77;
$primary-700: #008a63;
$primary-800: #006d4f;
$primary-900: #005943;
$primary-950: #003227;

$secondary-50: #edeeff;
$secondary-100: #dee0ff;
$secondary-200: #c4c6ff;
$secondary-300: #a0a0ff;
$secondary-400: #7e72ff;
$secondary-500: #745bf9;
$secondary-600: #663dee;
$secondary-700: #592fd3;
$secondary-800: #4829aa;
$secondary-900: #3d2986;
$secondary-950: #26184e;

$tertiary-50: #fff0f3;
$tertiary-100: #ffe2e8;
$tertiary-200: #ffcad6;
$tertiary-300: #ff9fb5;
$tertiary-400: #ff698e;
$tertiary-500: #ff5080;
$tertiary-600: #ed1158;
$tertiary-700: #c8084b;
$tertiary-800: #a80945;
$tertiary-900: #8f0c41;
$tertiary-950: #50011f;

$surface-50: #f6f6f6;
$surface-100: #e7e7e7;
$surface-200: #d1d1d1;
$surface-300: #b0b0b0;
$surface-400: #888888;
$surface-500: #6d6d6d;
$surface-600: #5d5d5d;
$surface-700: #4f4f4f;
$surface-800: #454545;
$surface-900: #3d3d3d;
$surface-950: #121212;

$surface-glassmorph: #3d3d3d61;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light-gray': $light-gray,
  'dark-gray': $dark-gray,
);
