<h2 class="text-white">Spieler</h2>
<div
  (click)="selectUser(user)"
  *ngFor="let user of users; let i = index"
  [ngClass]="{ selected: players.includes(user.name) }"
  class="card">
  <h2 class="text-center text-white">{{ user.name }}</h2>
</div>
<h2 class="text-white">Modus</h2>
<div [queryParams]="setParams()" class="card" routerLink="/game/vs/301">
  <h2 class="text-center text-white">301</h2>
</div>
<div [queryParams]="{ players }" class="card" routerLink="/game/vs/501">
  <h2 class="text-center text-white">501</h2>
</div>
