@import '../../../../../../src/assets/scss/utils';

.card {
  background-color: $surface-900;
  padding: 40px 30px;
  margin: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.selected {
  background-color: $secondary-950;
}
