@import '../../../../../../src/assets/scss/utils';

.bi {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: $surface-500;
}

.footer-container {
  padding: 5px 0 45px 0;
  background-color: $surface-950;
}
