<div class="d-flex justify-content-around footer-container shadow">
  <div [routerLink]="'/game'" class="px-5">
    <i class="bi bi-joystick"></i>
  </div>
  <div [routerLink]="'/stats'" class="px-5">
    <i class="bi bi-person-fill"></i>
  </div>
</div>
