<div class="d-flex h-100">
  <!--  <app-header class="h-100 d-none d-md-block"></app-header>-->
  <div class="background w-100 content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer class="d-block fixed-bottom"></app-footer>
