<div class="d-flex justify-content-center align-items-center my-5">
  <ol class="dartboard">
    <li *ngFor="let number of numbers" [ngClass]="{ inactive: number !== currentNumber && gameStarted }">
      {{ number }}
    </li>
  </ol>
</div>

<div class="d-flex justify-content-center my-5">
  <button (click)="startGame()" *ngIf="!gameStarted" class="btn btn-primary w-50">Start</button>
</div>

<form *ngIf="gameStarted && currentNumber < 21" [formGroup]="numberCountForm" class="my-5">
  <div class="form-floating">
    <input
      class="form-control"
      formControlName="number"
      id="floatingInput"
      inputmode="numeric"
      pattern="[0-9]*"
      placeholder="Versuche"
      type="number" />
    <label for="floatingInput">Anzahl Versuche für die {{ currentNumber }}</label>
    <button (click)="nextNumber()" class="btn btn-secondary w-100 mt-2">Bestätigen</button>
  </div>
</form>

<div *ngIf="gameStarted && currentNumber === 21" class="text-white text-center my-5">
  <h2>Totale Anzahl an Versuchen:</h2>
  <p>{{ getTotalCount() }}</p>
  <hr class="my-4" />
  <h2>Komplette Übersicht:</h2>
  <p *ngFor="let number of game">{{ number.number }}: {{ number.count }} Versuche</p>
</div>
