:root {
  --white: whitesmoke;
  --black: darkslategrey;
  --red: crimson;
  --green: seagreen;
}

.dartboard {
  --bullseye-radius: 6.35;
  --bull-radius: 15.9;
  --triple-outer-radius: 107;
  --triple-width: 8;
  --double-outer-radius: 170;
  --double-width: 8;
  --wire-width: 1.4;

  --wire-color: var(--silver, silver);
  --bullseye-color: var(--red, red);
  --bull-color: var(--green, green);

  > li {
    &:nth-child(odd) {
      --single-color: var(--black, black);
      --triple-color: var(--red, red);
    }

    &:nth-child(even) {
      --single-color: var(--white, white);
      --triple-color: var(--green, green);
    }

    --double-color: var(--triple-color);
  }

  --scale: calc(85% / var(--double-outer-radius));
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100vmin - 20px);
  height: calc(100vmin - 20px);
  display: grid;
  grid-template-areas: 'dartboard';
  overflow: hidden;
  background: var(--black, black);
  color: var(--white, white);
  clip-path: circle();
  text-align: center;
  font: 4vmin/2 Futura, sans-serif;

  &::after {
    filter: grayscale(0.8);
    content: '';
    grid-area: dartboard;
    background: radial-gradient(
      closest-side,
      var(--bullseye-color) 0 calc(var(--bullseye-radius) * var(--scale)),
      var(--wire-color) 0 calc((var(--bullseye-radius) + var(--wire-width)) * var(--scale)),
      var(--bull-color) 0 calc(var(--bull-radius) * var(--scale)),
      var(--wire-color) 0 calc((var(--bull-radius) + var(--wire-width)) * var(--scale)),
      transparent 0
    );
    z-index: 0;
  }

  > li {
    grid-area: dartboard;
    background: radial-gradient(
      closest-side,
      var(--single-color) 0
        calc((var(--triple-outer-radius) - var(--triple-width) - 2 * var(--wire-width)) * var(--scale)),
      var(--wire-color) 0 calc((var(--triple-outer-radius) - var(--triple-width) - var(--wire-width)) * var(--scale)),
      var(--triple-color) 0 calc((var(--triple-outer-radius) - var(--wire-width)) * var(--scale)),
      var(--wire-color) 0 calc(var(--triple-outer-radius) * var(--scale)),
      var(--single-color) 0
        calc((var(--double-outer-radius) - var(--double-width) - 2 * var(--wire-width)) * var(--scale)),
      var(--wire-color) 0 calc((var(--double-outer-radius) - var(--double-width) - var(--wire-width)) * var(--scale)),
      var(--double-color) 0 calc((var(--double-outer-radius) - var(--wire-width)) * var(--scale)),
      var(--wire-color) 0 calc(var(--double-outer-radius) * var(--scale)),
      transparent 0
    );

    --tan9deg: 0.158384440324536;
    clip-path: polygon(calc(50% * (1 - var(--tan9deg))) 0, calc(50% * (1 + var(--tan9deg))) 0, 50% 50%);

    @for $index from 2 through 20 {
      &:nth-of-type(#{$index}) {
        transform: rotate(calc(#{$index - 1} / 20 * 1turn));
      }
    }
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

.inactive {
  opacity: 0.5;
}
