<div class="d-flex">
  <app-player-card [currentDart]="currentDart" [player]="currentPlayer" class="w-100"></app-player-card>
</div>

<app-counter
  (changeCurrentDart)="currentDart = $event"
  (changeCurrentPlayer)="currentPlayer = $event"
  (gameWon)="gameWon()"
  *ngIf="!finished"
  [currentPlayer]="currentPlayer"
  [players]="players"></app-counter>
