@import '../../../../../../src/assets/scss/utils';

.selected {
  background-color: $secondary-950;
}

.number-container {
  margin-top: 1px;
  overflow: scroll;

  .selected:hover {
    background-color: $secondary-900;
  }

  button:disabled {
    background-color: $surface-500;

    &:hover {
      background-color: $surface-500;
    }
  }

  button:hover {
    background-color: $surface-800;
  }
}

.number-block {
  height: calc((100vh - 200px - 88px) / 9);
  background-color: $surface-900;
  border: 1px solid $surface-950;
  cursor: pointer;
}

.number-block + .selected {
  background-color: $secondary-950;
}

.third {
  width: 33.3333%;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}
