<div class="player-card d-flex flex-column">
  <div class="player-header d-flex justify-content-center align-items-center flex-column">
    <h2 *ngIf="showPoints" class="text-center m-0">{{ player.points }}</h2>
    <h2 *ngIf="showDartsCount" class="text-center m-0">{{ player.darts.length }}</h2>
    <h3 class="text-center m-0">{{ player.name }}</h3>
    <div *ngIf="!showDartsCount" class="dart-counter">
      <div *ngFor="let i of numSequence(currentDart)">
        <img alt="icon of dartg" src="./assets/images/icons8-dart-24.png" />
      </div>
    </div>
    <div *ngIf="showCheckout" class="d-flex gap-2">
      <div *ngFor="let dart of getCheckoutDarts(player.points)">{{ dart }}</div>
    </div>
  </div>
  <div class="player-footer d-flex justify-content-center align-items-center flex-column">
    <h3 class="text-center m-0">{{ Math.round(player.avg * 10) / 10 }}</h3>
  </div>
</div>
