@import '../../../../../../src/assets/scss/utils';

.player-header {
  position: relative;
  height: 160px;
}

.player-card {
  height: 200px;
  background-color: $secondary-500;
  color: $primary-500;

  &:first-of-type {
    background-color: $primary-500;
    color: $secondary-500;

    .player-footer {
      background-color: $primary-300;
    }
  }
}

.player-footer {
  height: 40px;
  background-color: $secondary-300;
}

.dart-counter {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
}
