<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-light-gray h-100" style="width: 280px">
  <a class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none" routerLink="/">
    <span class="logo mx-3"></span>
    <span class="fs-4">WDart</span>
  </a>
  <hr />
  <div class="mb-auto">
    <div class="link-container" routerLinkActive="active">
      <div class="active-indicator"></div>
      <a routerLink="/dashboard">
        <i class="bi bi-grid-fill"></i>
        <span>Dashboard</span>
      </a>
    </div>
    <div class="link-container" routerLinkActive="active">
      <div class="active-indicator"></div>
      <a routerLink="/game">
        <i class="bi bi-grid-fill"></i>
        <span>Mobil</span>
      </a>
    </div>
    <div class="link-container" routerLinkActive="active">
      <div class="active-indicator"></div>
      <a routerLink="/datten">
        <i class="bi bi-controller"></i>
        <span>Datten</span>
      </a>
    </div>
    <hr />
    <div class="profile-container">
      <div *ngFor="let user of data?.users" class="link-container" routerLinkActive="active">
        <!--        <div class="active-indicator"></div>-->
        <a [routerLink]="'stats/' + user.name.toLowerCase()">
          <i class="bi bi-person-circle"></i>
          <span>{{ user.name }}</span>
        </a>
      </div>
    </div>
  </div>

  <hr />
  <div (click)="onLogout()" class="logout-container">
    <i class="bi bi-box-arrow-left"></i>
    <span>Logout</span>
  </div>
</div>
