@import '../../../../../../src/assets/scss/utils';

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(200deg, $secondary 14.07%, $primary 91.84%);
}

.link-container.active {
  .active-indicator {
    width: 6px;
    height: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $primary;
    position: absolute;
    top: 13px;
    left: -20px;
    transform: translateX(4px);
    transition: 200ms;
    transition-delay: 200ms;

    &:hover {
      transition-delay: 0s;
      width: 20px;
    }
  }

  a {
    color: $primary;

    i {
      //font-size: 30px;
      margin-right: 20px;
      margin-left: 25px;
      transition: 200ms;
      transform: scale(110%);
    }

    span {
      //font-size: 20px;
      transition: 200ms;
      transform: scale(110%);
    }
  }
}

.link-container {
  padding: 20px 0;
  position: relative;

  &:hover {
    a {
      color: $primary;
    }
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;

    i {
      font-size: 24px;
      margin-right: 28px;
      margin-left: 25px;
    }

    span {
      font-size: 16px;
    }
  }
}

.logout-container {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  i {
    font-size: 24px;
    margin-right: 28px;
    margin-left: 25px;
  }

  span {
    font-size: 16px;
  }
}

.profile-container {
  height: 450px;
  overflow-y: scroll;
}
